<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoqing.gaoqingblog.dao.TagsMapper">

    <resultMap id="EmplAnDept" type="com.gaoqing.gaoqingblog.pojo.Blog">
        <result property="type.id" column="typeid"/>
        <result property="tag.id" column="tagid"/>
        <result property="tag.name" column="tagmame"/>
        <result property="type.name" column="name"/>
        <result property="user.username" column="username"/>
        <result property="user.nickname" column="nickname"/>
        <result property="user.id" column="userid"/>
        <result property="id" column="bid"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="firstPicture" column="firstPicture"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="appreciation" column="appreciation"/>
        <result property="shareStatement" column="shareStatement"/>
        <result property="commentabled" column="commentabled"/>
        <result property="published" column="published"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="tagIds" column="tagIds"/>
        <result property="description" column="description"/>
        <result property="num" column="NUM" jdbcType="NUMERIC" />
        <result property="agname" column="agname" jdbcType="NUMERIC" />
    </resultMap>



    <resultMap id="EmplPassing" type="com.gaoqing.gaoqingblog.pojo.TypePassing">
        <result property="Collection" column="Collection"/>
        <result property="name" column="TypeName"/>
    </resultMap>


    <!--无条件检索-->
    <select id="getTagCollection" resultMap="EmplPassing">
    SELECT  COUNT(t.NAME) as Collection,t.name AS TypeName,t.id AS id FROM t_blog b
    LEFT JOIN t_tag t ON b.tag_id = t.id GROUP BY t.name;
  </select>

    <!--按条件检索出所有的使用到的分类与他的使用次数-->
    <select id="getTagTotal"  resultType="java.lang.Integer">
    SELECT COUNT(t.NAME) FROM t_blog  b
    LEFT JOIN  t_tag t ON
    b.tag_id = t.id
    AND t.id = #{tagid};
  </select>

    <!--检索出所有的使用到的文章-->
    <select id="getTagList" resultMap="EmplAnDept">
      SELECT
      t.name AS NAME,
       u.nickname AS nickname,
       b.description AS description,
       b.views AS views,
       b.create_time AS updateTime,
       b.update_time AS updateTime,
       b.title AS title,
       b.first_picture AS firstPicture
      FROM t_blog  b
      LEFT JOIN  t_tag t ON b.tag_id = t.id
      LEFT JOIN t_user u  ON b.user_id = u.id
      WHERE t.id = #{tagid}
  </select>

</mapper>